@if (achievements(); as ach) {
    <table mat-table [dataSource]="ach">
        <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef> Icon </th>
            <td mat-cell *matCellDef="let achievement">
                @if (achievement.image) {
                    <img [src]="'data:image/png;base64, ' + achievement.image" width="64px"/>
                }
            </td>
        </ng-container>
        <mat-text-column name="screen_name" headerText="Name"></mat-text-column>
        <mat-text-column name="description"></mat-text-column>
        <ng-container matColumnDef="currently_unlocked">
            <th mat-header-cell *matHeaderCellDef> Currently unlocked </th>
            <td mat-cell *matCellDef="let achievement">
                <input type="checkbox" disabled [checked]="achievement.unlocked"/>
            </td>
        </ng-container>
        <ng-container matColumnDef="toBeUnlocked">
            <th mat-header-cell *matHeaderCellDef> To Be unlocked </th>
            <td mat-cell *matCellDef="let achievement">
                <input type="checkbox" [(ngModel)]="achievement.toBeUnlocked"/>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="COLUMNS"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: COLUMNS"></tr>
    </table>
    @if (isAnyAchievementchanged()){
        <div class="confirmation-banner">
            <button (click)="processChanges()">Submit</button>
        </div>
    }
    <div></div>
} @else {
    <mat-spinner></mat-spinner>
}
